<main>
	<section class="agenda">
		<section class="agenda_time-of-day">
			<div class="time-of-day">01:00</div>
			<div class="time-of-day">02:00</div>
			<div class="time-of-day">03:00</div>
			<div class="time-of-day">04:00</div>
			<div class="time-of-day">05:00</div>
			<div class="time-of-day">06:00</div>
			<div class="time-of-day">07:00</div>
			<div class="time-of-day">08:00</div>
			<div class="time-of-day">09:00</div>
			<div class="time-of-day">10:00</div>
			<div class="time-of-day">11:00</div>
			<div class="time-of-day">12:00</div>
			<div class="time-of-day">13:00</div>
			<div class="time-of-day">14:00</div>
			<div class="time-of-day">15:00</div>
			<div class="time-of-day">16:00</div>
			<div class="time-of-day">17:00</div>
			<div class="time-of-day">18:00</div>
			<div class="time-of-day">19:00</div>
			<div class="time-of-day">20:00</div>
			<div class="time-of-day">21:00</div>
			<div class="time-of-day">22:00</div>
			<div class="time-of-day">23:00</div>
		</section>

		<div class="agenda_date-row">
			<div class="day <%= week[ 0 ] === today ? 'active' : '' %>"><span><%= week[ 0 ] %></span><small>Mon</small></div>
			<div class="day <%= week[ 1 ] === today ? 'active' : '' %>"><span><%= week[ 1 ] %></span><small>Tue</small></div>
			<div class="day <%= week[ 2 ] === today ? 'active' : '' %>"><span><%= week[ 2 ] %></span><small>Wed</small></div>
			<div class="day <%= week[ 3 ] === today ? 'active' : '' %>"><span><%= week[ 3 ] %></span><small>Thu</small></div>
			<div class="day <%= week[ 4 ] === today ? 'active' : '' %>"><span><%= week[ 4 ] %></span><small>Fri</small></div>
			<div class="day <%= week[ 5 ] === today ? 'active' : '' %>"><span><%= week[ 5 ] %></span><small>Sat</small></div>
			<div class="day <%= week[ 6 ] === today ? 'active' : '' %>"><span><%= week[ 6 ] %></span><small>Sun</small></div>
		</div>

		<div class="agenda_time-row">
			<div data-day="<%= week[ 0 ] %>" data-date="<%= date[ 0 ] %>" class="time-column <%= week[ 0 ] === today ? 'active' : '' %>">
				<!-- <div class="item item-half" style="height: calc((200vh / 23) * 3);top: calc((200vh / 23) * 3);background-color: #0057e7; width:42.5%;">ET artificial intelligence balbal balbal blbalba lbal lbalba lba</div>
				<div class="item item-half" style="height: calc((200vh / 23) * 3);top: calc((200vh / 23) * 3);background-color: #0057e7; width:42.5%;">ET artificial intelligence balbal balbal blbalba lbal lbalba lba</div> -->
			</div>
			<div data-day="<%= week[ 1 ] %>" data-date="<%= date[ 1 ] %>" class="time-column <%= week[ 1 ] === today ? 'active' : '' %>">
				<!-- <div class="item" style="height: calc((200vh / 23) * 5);top: calc((200vh / 23) * 6);background-color: #0057e7; width:90%;">ET artificial intelligence balbal balbal blbalba lbal lbalba lba</div> -->
			</div>
			<div data-day="<%= week[ 2 ] %>" data-date="<%= date[ 2 ] %>" class="time-column <%= week[ 2 ] === today ? 'active' : '' %>"></div>
			<div data-day="<%= week[ 3 ] %>" data-date="<%= date[ 3 ] %>" class="time-column <%= week[ 3 ] === today ? 'active' : '' %>"></div>
			<div data-day="<%= week[ 4 ] %>" data-date="<%= date[ 4 ] %>" class="time-column <%= week[ 4 ] === today ? 'active' : '' %>"></div>
			<div data-day="<%= week[ 5 ] %>" data-date="<%= date[ 5 ] %>" class="time-column <%= week[ 5 ] === today ? 'active' : '' %>"></div>
			<div data-day="<%= week[ 6 ] %>" data-date="<%= date[ 6 ] %>" class="time-column <%= week[ 6 ] === today ? 'active' : '' %>"></div>
		</div>
	</section>
</main>
<section class="call-to-action">
	<a href="/?week=<%= prevWeek %>" class="prev">Previous</a>
	<a href="/?week=<%= nextWeek %>" class="next">Next</a>
	<div class="menu">
		<ul class="menu-items">
			<li class="menu-item">
				<button id="add-new" class="menu-item-button">
					<i class="menu-item-icon icon icon-deadline">+</i>
				</button>
				<div class="menu-item-bounce"></div>
			</li>
			<li class="menu-item">
				<button id="profile-button" class="menu-item-button">
					<i class="menu-item-icon icon icon-profile"></i>
				</button>
				<div class="menu-item-bounce"></div>
			</li>
		</ul>
		<button class="menu-toggle-button">
			<i class="menu-toggle-icon">&#9776;</i>
		</button>
	</div>
	<svg xmlns="http://www.w3.org/2000/svg" version="1.1">
		<defs>
			<filter id="goo">
				<feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
				<feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
				<feComposite in="SourceGraphic" in2="goo" operator="atop"/>
			</filter>
		</defs>
	</svg>
</section>

<section data-show="false" class="overlay deadline-overlay">
	<div class="overlay-background"></div>
	<div class="overlay__modal">
		<span id="close">X</span>
		<h2>New Deadline</h2>
		<label for="deadline-title">
			Title of your deadline
			<input type="text" id="deadline-title" placeholder="your new deadline">
		</label>
		<label for="deadline-enddate">
			End date of your deadline
			<input type="date" id="deadline-enddate">
		</label>
		<label for="deadline-hours">
			Amount of hours needed
			<input type="number" id="deadline-hours" placeholder="20">
		</label>
		<button class="deadline-submit" type="submit">Plan me!</button>
	</div>
</section>

<section data-show="false" class="overlay profile-overlay">
	<div class="overlay-background"></div>
	<div class="overlay__modal">
		<span id="close">X</span>
		<h2>Profile</h2>
		<button class="profile-submit">Preferences</button>
		<button id="signout-button" class="profile-submit" style="display: none;">Sign Out</button>
	</div>
</section>
